* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(41, 39, 39);
}
h1 {
    text-align: center;
    background-color: gray;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    padding: 30px;
}